<div class="container">
  <div class="row">
    <div class="col-12 order-2 col-md-6 order-md-1">
      <div class="row gx-0 h-100 w-100">
        <div class="my-auto text-center">
          <img class="img-fluid" src="assets/images/living_room.jpg" alt=""/>
        </div>
      </div>
    </div>
    <div class="col-6 col-12 order-1 col-md-6 order-md-2">
      <div class="row gx-0 h-100 w-100">
        <div class="my-auto">
          <h2 class="text-primary text-uppercase">{{'light.title' | translate}}</h2>
          <p class="text-justify w-100">{{'light.text' | translate}}</p>
          <div class="d-flex justify-content-center d-md-block">
            <img class="img-fluid w-50 mt-5 mb-5 float-md-end" src="assets/vectors/light.svg" alt=""/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
