<div class="container">
  <div class="row vh-100 m-0 p-0">
    <div class="col-6">
      <div class="row gx-0 h-100 w-100">
        <div class="my-auto">
          <img class="img-fluid" src="assets/images/living_room.jpg" alt=""/>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row gx-0 h-100 w-100">
        <div class="my-auto">
          <h2 class="text-primary text-uppercase">{{'light.title' | translate}}</h2>
          <p class="text-justify w-100">{{'light.text' | translate}}</p>
          <img class="img-fluid w-50 float-end mt-5" src="assets/vectors/light.svg" alt=""/>
        </div>
      </div>
    </div>
  </div>
</div>
