.shrink-wrapper img {
    transition: 0.2s ease;
}
    
.shrink-wrapper img:hover{
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -webkit-filter: blur(1px);
    transform: scale(0.98);
    transition: 0.2s ease;
}

.card:hover{
    cursor: pointer;
}