<div class="container">
  <div class="row vh-100 m-0 p-0">
    <div class="col-12">
      <h2 class="text-primary text-uppercase mt-5">{{'about.title' | translate}}</h2>
    </div>
    <div class="col-6">
      <div class="row gx-0 h-100 w-100 text-center">
        <div class="my-auto">
          <img class="img-fluid w-50" src="https://placehold.co/1500x1500" alt=""/>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row gx-0 h-100 w-100">
        <div class="my-auto">
          <p class="text-justify w-100">{{'about.sindu' | translate}}</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row gx-0 h-100 w-100 text-center">
        <div class="my-auto">
          <img class="img-fluid w-50" src="https://placehold.co/1500x1500" alt=""/>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row gx-0 h-100 w-100">
        <div class="my-auto">
          <p class="text-justify">{{'about.joel' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
