<div class="container">
  <div class="row vh-100 m-0 p-0">
    <div class="col-12">
      <h2 class="text-primary text-uppercase pt-5">{{'about.title' | translate}}</h2>
    </div>
    <div class="col-6">
      <div class="row gx-0 h-100 w-100 text-center">
        <div class="my-auto">
          <img class="img-fluid w-50" src="../../../../assets/images/portraits/Easwararanjan_Shenthujan.png" alt=""/>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row gx-0 h-100 w-100">
        <div class="my-auto">
          <p class="w-100">{{'about.contact' | translate}}</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row gx-0 h-100 w-100 text-center">
        <div class="my-auto">
          <img class="img-fluid w-50" src="../../../../assets/images/portraits/Pulfer_Joel.png" alt=""/>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row gx-0 h-100 w-100">
        <div class="my-auto">
          <p class="text-justify">
            Domitix GmbH <br />
            Muesmattstrasse 37<br />
            3012 Bern <br />
            <a href="mailto:info@domotix.ch">Email</a><br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
