<section class="about-section section-pad">
  <div class="container">

    <span class="section-label-light">{{ 'about.title' | translate }}</span>
    <div class="hairline" style="background-color: rgba(242,242,242,0.15);"></div>

    <div class="about-grid">

      <!-- Statement -->
      <div class="about-statement">
        <p class="about-text">{{ 'about.contact' | translate }}</p>

        <p class="about-address">
          {{ 'footer.policies.imprint.company' | translate }}<br />
          {{ 'footer.policies.imprint.street' | translate }}<br />
          {{ 'footer.policies.imprint.city' | translate }}<br />
          {{ 'footer.policies.imprint.phone' | translate }}<br />
          <a [href]="'mailto:' + email" class="about-email">{{ 'common.write-us' | translate }}</a>
        </p>
      </div>

      <!-- Team portraits -->
      <div class="about-team">
        <div class="team-member" *ngFor="let member of employees">
          <div class="team-portrait-wrap">
            <img
              [src]="member.img"
              [alt]="member.firstName + ' ' + member.lastName + ', Domotix GmbH'"
              class="team-portrait"
              loading="lazy"
            />
          </div>
          <span class="team-name">{{ member.firstName }}<br>{{ member.lastName }}</span>
        </div>
      </div>

    </div>
  </div>
</section>
