<div class="container">
  <div class="row">
    <div class="col-12 order-2 col-md-6 order-md-1">
      <div class="h-100 w-100 d-flex justify-content-center">
          <img class="img-fluid" src="assets/images/security.jpg" alt=""/>
      </div>
    </div>
    <div class="col-12 order-1 col-md-6 order-md-1">
      <div class="row gx-0 h-100 w-100">
        <div class="my-auto">
          <h2 class="text-primary text-uppercase mb-4">{{'security.title' | translate}}</h2>
          <div class="security-card-wrapper w-100 text-center">
            <div class="security-card mt-4">
              <img class="img-fluid" src="assets/vectors/security_fingerprint.svg" alt=""/>
              <p class="w-100 mt-2">{{'security.access-system' | translate}}</p>
            </div>
            <div class="security-card mt-4">
              <img class="img-fluid" src="assets/vectors/security_lock.svg" alt=""/>
              <p class="w-100 mt-2">{{'security.reliability' | translate}}</p>
            </div>
            <div class="security-card mt-4">
              <img class="img-fluid" src="assets/vectors/security_cloud.svg" alt=""/>
              <p class="w-100 mt-2">{{'security.no-cloud' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>