<div class="container">
  <div class="row vh-100 m-0 p-0">
    <div class="col-6">
      <div class="row h-100 w-100">
        <div class="my-auto">
          <h2 class="text-primary text-uppercase">{{'security.title' | translate}}</h2>
          <div class="security-card-wrapper w-100 text-center">
            <div class="security-card w-75 mt-3">
              <img class="img-fluid" src="assets/vectors/security_fingerprint.svg" alt=""/>
              <p class="w-100">{{'security.access-system' | translate}}</p>
            </div>
            <div class="security-card w-75 mt-3">
              <img class="img-fluid" src="assets/vectors/security_lock.svg" alt=""/>
              <p class="w-100">{{'security.reliability' | translate}}</p>
            </div>
            <div class="security-card w-75 mt-3">
              <img class="img-fluid" src="assets/vectors/security_cloud.svg" alt=""/>
              <p class="w-100">{{'security.no-cloud' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="h-100 w-100">
        <div class="my-auto">
          <img class="vh-100" src="assets/images/security.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>