<div class="container">
  <div class="row">
    <div class="col-12 order-1 col-md-6 order-md-1 mb-3">
      <div class="row gx-0 h-100 w-100">
        <div class="my-auto">
          <h2 class="text-primary text-uppercase">{{'heating.title' | translate}}</h2>
          <p class="text-justify w-100">{{'heating.text' | translate}}</p>
          <img class="img-fluid w-100 float-end mt-5 mb-5" src="assets/vectors/heating.svg" alt=""/>
        </div>
      </div>
    </div>
    <div class="col-12 order-2 col-md-6 order-md-2 mb-3">
      <div class="row gx-0 h-100 w-100">
        <div class="my-auto text-center">
          <img class="img-fluid" src="assets/images/heating.jpg" alt=""/>
        </div>
      </div>
    </div>
  </div>
</div>
