<app-navigation></app-navigation>
<app-parallax-wrapper imgSrc="assets/images/header.jpg" [linearGradient]="true" id="home">
    <app-home></app-home>
</app-parallax-wrapper>
<app-container>
    <app-vision id="vision"></app-vision>
</app-container>
<app-container>
    <app-light></app-light>
</app-container>
<app-container>
    <app-heating></app-heating>
</app-container>
<app-container>
    <app-shutter></app-shutter>
</app-container>
<app-container>
    <app-multimedia></app-multimedia>
</app-container>
<app-container>
    <app-energy></app-energy>
</app-container>
<app-container>
    <app-security></app-security>
</app-container>
<app-container customCss="bg-black" id="about">
    <app-about></app-about>
</app-container>
<app-container customCss="bg-black" id="partners">
    <app-partner></app-partner>
</app-container>
<app-container id="references">
    <app-references></app-references>
</app-container>
<app-container id="contact" *ngIf="false">
    <app-contact></app-contact>
</app-container>
<app-footer></app-footer>
<router-outlet />
