<app-navigation></app-navigation>

<app-parallax-wrapper [imgSrcs]="['assets/images/hero-1.avif','assets/images/hero-2.avif','assets/images/hero-3.avif','assets/images/hero-4.avif']" id="home">
  <app-home></app-home>
</app-parallax-wrapper>

<app-container id="vision">
  <app-vision></app-vision>
</app-container>

<app-container id="about">
  <app-about></app-about>
</app-container>

<app-services></app-services>

<app-container id="partners">
  <app-partner></app-partner>
</app-container>

<app-container id="references">
  <app-references></app-references>
</app-container>

<app-footer></app-footer>
