<app-navigation></app-navigation>
<app-parallax-wrapper imgSrc="assets/images/header.jpg" [linearGradient]="true">
    <app-home></app-home>
</app-parallax-wrapper>
<app-parallax-wrapper>
    <app-vision></app-vision>
</app-parallax-wrapper>
<app-parallax-wrapper>
    <app-light></app-light>
</app-parallax-wrapper>
<app-parallax-wrapper>
    <app-heating></app-heating>
</app-parallax-wrapper>
<app-parallax-wrapper>
    <app-shutter></app-shutter>
</app-parallax-wrapper>
<app-parallax-wrapper>
    <app-multimedia></app-multimedia>
</app-parallax-wrapper>
<app-parallax-wrapper>
    <app-energy></app-energy>
</app-parallax-wrapper>
<app-parallax-wrapper>
    <app-security></app-security>
</app-parallax-wrapper>
<app-parallax-wrapper customCss="bg-black">
    <app-about></app-about>
</app-parallax-wrapper>
<app-parallax-wrapper>
    <app-contact></app-contact>
</app-parallax-wrapper>
<app-parallax-wrapper>
    <app-references></app-references>
</app-parallax-wrapper>
<router-outlet />
