<div class="container">
  <div class="row vh-100 m-0 p-0">
    <div class="col-6">
      <div class="row gx-0 h-100 w-100">
        <div class="my-auto">
          <img class="img-fluid" ngSrc="assets/images/shutter.jpg" width="610.5" height="814" priority alt=""/>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row gx-0 h-100 w-100">
        <div class="my-auto">
          <h2 class="text-primary text-uppercase">{{'shutter.title' | translate}}</h2>
          <p class="text-justify w-100">{{'shutter.text' | translate}}</p>
          <img class="img-fluid w-50 float-end mt-5" src="assets/vectors/shutter.svg" alt=""/>
        </div>
    </div>
  </div>
</div>
