html{
  scroll-behavior: smooth;
}

.header {
  position: absolute;
  top: 50%;
}

.sidenav {
  height: 100%;
  width: var(--navigation-width);
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba($color: #fff, $alpha: 0);
  overflow-x: hidden;
  transition: 0.5s;
  vertical-align: middle;
}

/* Hover to expand - only on devices that support hover */
@media (hover: hover) {
  .sidenav:hover {
    --navigation-width: 17rem;
    width: var(--navigation-width);
    background-color: var(--navigation-background-color);
  }
}

/* Mobile-specific styles: Hide when clicking a menu item */
@media (hover: none) {
  .sidenav {
    --navigation-width: 2rem;
    width: var(--navigation-width);
    background-color: rgba(255, 255, 255, 0);
  }

  .sidenav.open {
    --navigation-width: 17rem;
    width: var(--navigation-width);
    background-color: var(--navigation-background-color);
  }
}

.sidenav a {
  text-decoration: none;
  color: var(--navigation-font-color);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav div:hover > a {
  color: var(--navigation-font-color-hover);
}

.sidenav div:hover > span {
  background-color: var(--navigation-font-color-hover);
}

.sidenav > div > div {
  padding-top: 0.8rem;
}

.dot {
  height: 0.8rem;
  width: 0.8rem;
  background-color: var(--navigation-dot-color);
  border-radius: 50%;
  display: inline-block;
  transition: 0.3s;
  vertical-align: middle;
}

.header > div {
  padding-left: 0.4rem;
  width: 200%;
}

.header > div:hover {
  width: 100%;
}

.header > div > a {
  display: inline-block;
}

.languange-switcher {
  width: 100%;
  text-align: center;
  padding: 2em;
}

.navbar {
  z-index: 1;
  background-color: #fff;
  visibility: var(--show-navbar);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;

  // Transition animation
  transition: all 1s;
  opacity: var(--opacity-navbar);
}

.navbar:before {
  content: "";
  position: absolute;
  left: 1%;
  bottom: 0;
  height: 2px;
  width: 98%;
  border-bottom: 2px solid;
}

.navbar-img {
  width: 12em;
  height: auto;
}

.header > div > a{
  padding-left: 1rem;
}

.header > div:hover{
  cursor: pointer;
}
