<div class="navbar">
  <img src="assets/images/logo_nav.png" class="mx-auto navbar-img pt-2 pb-2" alt="domotix" />
</div>
<div class="sidenav">
  <div class="languange-switcher">
    <app-language-switcher></app-language-switcher>
  </div>
  <div class="header">
    <div>
      <span class="dot"></span>
      <a href="#">{{ "navigation.home" | translate }}</a>
    </div>
    <div>
      <span class="dot"></span>
      <a href="#">{{ "navigation.competences" | translate }}</a>
    </div>
    <div>
      <span class="dot"></span>
      <a href="#">{{ "navigation.about" | translate }}</a>
    </div>
    <div>
      <span class="dot"></span>
      <a href="#">{{ "navigation.contact" | translate }}</a>
    </div>
  </div>
</div>
