$breakpoint-md: 768px;

@media screen and (max-width: $breakpoint-md) {
  h1 {
    text-align: left !important;
  }

  h2, h3, h4, h5, h6 {
    text-align: center !important;
  }

  p {
    text-align: center !important;
  }

  .section-label,
  .section-label-light {
    text-align: center !important;
  }
}
