
$primary: #a69885;
$btn-border-radius: 0;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/";

:root {
  --navigation-width: 2em;
  --navigation-font-size: 25px;
  --navigation-font-size-responsive: 18px;
  --navigation-background-color: #fff;
  --navigation-dot-color: #bbb;
  --navigation-font-color: #000;
  --navigation-font-color-hover: #a69885;
  --show-navbar: hidden; 
  --opacity-navbar: 0;
}

body, html{
    min-width: 100vh;
    font-size: 22px;
}

.text-justify{
  text-align: justify;
}