$primary: #a69885;
$secondary: #403A2D;
$tertiary: #e3e3e36e;
$btn-border-radius: 0;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/";
@import "styles-reponsive.scss";

@font-face {
  font-family: 'avenir_next_lt_proregular';
  src: url('avenirnextltpro-regular-webfont.woff2') format('woff2'),
       url('avenirnextltpro-regular-webfont.woff') format('woff');
  font-style: normal;
}

p{
    font-family: 'avenir_next_lt_proregular', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'avenir_next_lt_proregular', Arial, sans-serif;
  font-weight: bold;
}

:root {
  --navigation-width: 2rem;
  --navigation-font-size: 1.2rem;
  --navigation-font-size-responsive: 1.2rem;
  --navigation-background-color: #fff;
  --navigation-dot-color: #bbb;
  --navigation-font-color: #000;
  --navigation-font-color-hover: #a69885;
  --show-navbar: hidden;
  --opacity-navbar: 0;
}

body, html{
    font-size: 1.2rem;
}

.text-justify{
  text-align: justify;
}

.bg-tertiary{
  background-color: $tertiary;
}