$breakpoint: 768px;

@media screen and (max-width: $breakpoint) {
    h1, h2, h3, h4, h5, h6 {
        text-align: center!important;
    }

    p{
        text-align: unset!important;
        text-align: center!important;
    }
  }